<!-- src/app/app.component.html -->
<mat-toolbar color="primary">
  <ng-container *ngFor="let m of menu;">
    <!-- Wenn es Unterpunkte gibt -->
    <ng-container *ngIf="m.children; else noChildren">
      <!-- Trigger-Button für dieses Menü -->
      <button mat-button [matMenuTriggerFor]="subMenu">
        <mat-icon>{{ m.icon }}</mat-icon>
        {{ m.label }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <!-- Das tatsächliche Sub-Menu -->
      <mat-menu #subMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item
                *ngFor="let c of m.children"
                [routerLink]="c.route">
          <mat-icon>{{ c.icon }}</mat-icon>
          <span>{{ c.label }}</span>
        </button>
      </mat-menu>
    </ng-container>

    <!-- Wenn keine Unterpunkte da sind -->
    <ng-template #noChildren>
      <button mat-button [routerLink]="m.route">
        <mat-icon>{{ m.icon }}</mat-icon>
        {{ m.label }}
      </button>
    </ng-template>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
